
@{
    ViewData["Title"] = "Rubrics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-edit"></i>
                    Outlines
                </h3>
            </div>
            <div class="card-body">
                <a href="~/Rubrics/BLGM406 HW Rubric.pdf" target="_blank" class="btn btn-block btn-default btn-lg">BLGM406 HW Rubric</a>
                <a href="~/Rubrics/BLGM406 SW Rubric.pdf" target="_blank" class="btn btn-block btn-default btn-lg">BLGM406 SW Rubric</a>
                <a href="~/Rubrics/CMPE406 HW Rubric.pdf" target="_blank" class="btn btn-block btn-default btn-lg">CMPE406 HW Rubric</a>
                <a href="~/Rubrics/CMPE406 SW Rubric.pdf" target="_blank" class="btn btn-block btn-default btn-lg">CMPE406 SW Rubric</a>
                <a href="~/Rubrics/CMSE406-SW-Rubric.pdf" target="_blank" class="btn btn-block btn-default btn-lg">CMSE406 SW Rubric</a>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
